@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?fbclid=IwAR1X3fc3guG465XWAGZyCyDddqVHLIsRTSXmvIHvWHIvJVVqZcqfBYiMFIo);
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 20%;
}

.border {
    border: 10px solid #0d4b75;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: left;
}

.item3 {
    grid-area: rigth;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'left left rigth rigth';
}

.background-img {
    width: 100%;
    background-image: url(image/background.png);
}

.border-img {
    margin: 90px 20px;
    padding: 10px;
    background: #fff;
}

.box {
    --all: 0px;
    width: 100%;
    display: inline-block;
    -webkit-mask: linear-gradient( 45deg, transparent 0 var(--bottom-left, var(--all)), #fff 0) bottom left, linear-gradient( -45deg, transparent 0 var(--bottom-right, var(--all)), #fff 0) bottom right, linear-gradient( 135deg, transparent 0 var(--top-left, var(--all)), #fff 0) top left, linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
}

.border-img-cut {
    --top-right: 20%;
    --bottom-left: 20%
}

.column-20 {
    width: 20%;
}

.column-50 {
    width: 50%;
}

.column-60 {
    width: 60%;
}

.column-65 {
    width: 65%;
}

.column-70 {
    width: 70%;
}

.column-80 {
    width: 80%;
}

.column-85 {
    width: 85%;
}

.left {
    float: left;
}

.padding-header {
    padding-left: 55px;
}

.content-pading {
    padding-left: 20px;
    padding-right: 10px;
}

.font-weight-bold {
    font-weight: bold;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top {
    padding-top: 5%;
}

.color-black {
    color: black;
}

.uppercase-item {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.uppercase {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid dodgerblue;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.box-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-bottom: 10px;
    color: white;
}

.skill-color {
    background-color: dodgerblue;
}

.border-icon {
    width: 25px;
    height: 25px;
    background: black !important;
    border-radius: 15px;
    padding: 5px;
}

.faa {
    color: #fff;
    text-align: center;
}

h3 {
    color: #0d4b75;
}

h4 {
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text {
    color: dodgerblue;
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 13px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 11px;
        text-align: justify;
    }
}

@media only screen and (min-width: 1850px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    h3 {
        font-size: 28px;
    }
    p {
        font-size: 20px;
        text-align: justify;
    }
}
